# Configurações do Banco de Dados Local
DATABASE_URL="postgresql://${USER}@localhost:5432/smartcard7"

# Configurações de Autenticação
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Configurações do Ambiente
NODE_ENV="development"

# Chaves de API (se necessário)
# NEXT_PUBLIC_EXAMPLE_KEY="sua-chave-aqui"
